<div class="card" style="width: 18rem;">
  <img src="http://media.biipmk.com/gmk_awaken/GMK_Awaken-kit-neotokyo.jpg" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">GMK Avanguardia</h5>
    <p class="card-text">It's a heckin group buy wow</p>
    <a href="https://www.deskhero.ca/collections/open-group-buys/products/gmk-awaken">CA: DeskHero</a>
  </div>