<h1 class="mono display mb-3">home</h1>

<%= render 'home/carousel' %>

<p class="mono fs-5 mt-3">
  Welcome to mechdb!
  You'll find here a taste of the mechnical keyboard community and its' many wonders.
  Above is a showcase of group buys that end soon.
  Check the Group Buys tab for a full list.
</p>
