<div class="d-flex justify-content-between align-items-center">
  <h1 class="mono"><span class="text-primary">Live</span> Group Buys</h1>
  <% if can? :manage, Groupbuy %>
    <%= link_to 'Add New', new_groupbuy_path, class: 'btn btn-primary' %>
  <% end %>
</div>
<div class="d-flex justify-content-evenly flex-wrap">
  <%= render @groupbuys %>
</div>